@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url(style.css);



/* header */
.header-ul {
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
    line-height: 11px;
    padding-top: 18px;
}

.header-div{
    margin-top: 0;
    padding-top: 35px;
}
.header-nav-a1 {
    margin-right: 100px;
    padding: 10px;
    padding-bottom: 50px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.header-nav-a2 {
    padding: 10px;
    padding-bottom: 48px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.header-ul>.active {
    color: #FFB800;
    width: 78px;
    height: 0px;
    border-bottom: 7px solid #FFB800;
}
.header-ul>.noactive:hover{
    color: #FFB800;
}



/* body */
.container-main{
    width: 35%;
    margin-top: 1%;
}
.div-p {
    padding: 20px;
    padding-bottom: 10px;
    font-family: 'Encode Sans', sans-serif;
    font-style: normal;
    font-weight: 500 ;
    font-size: 25px;
    line-height: 12px;
    color: #5A5A5A;
}

.div-agendamento{   
    width: 80%;
    margin: 0;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #D9F8FF;
    font-family: 'Encode Sans', sans-serif;
    border-radius: 15px;
    font-size: 17px;
    border: 3px solid #5A5A5A;
}
.a1{
    padding-right: 300px;
}
.a1-img{
    width: 7%;
}
.a2-img{
    width: 8%;
    margin-top: 5px;
}
.p-a4{
    margin: 0;
}
.display{
    display: none;
}
.p-alert{
    padding: 25px;
    margin-top: 10px;
}
.div-alerta{   
    width: 80%;
    margin: 0;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Encode Sans', sans-serif;
    border-radius: 15px;
    font-size: 17px;
    border: 3px solid #5A5A5A;
}