@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url(style.css);


/* body */

.container-a2 {
    font-family: 'Encode Sans', sans-serif;
    text-align: center;
    width: 30%;
    margin-top: 4%
}
.container-h2-a2{
    margin-bottom: 4%;
    text-align: center;
    font-weight: 600 !important;
}
.form-signin {
    width: 100%;
}

.form-signin label {
    display: block;
    margin-top: 10px;
    text-align: left;
    font-size: 1.1rem;
    padding-bottom: 15px;
    padding-left: 5px;
    font-family: 'Encode Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 12px;
    color: #5A5A5A;
}

.form-signin input[type="text"] {
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 15px;
    border: 3px solid #5A5A5A;
}

.form-signin input[type="email"] {
    border-radius: 15px;
    padding: 15px;
    border: 3px solid #5A5A5A;
    border-radius: 15px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 15px;
    border: 3px solid #5A5A5A;
}
.botao-a2 {
    background-color: #0057DF !important;
    font-weight: 700;
    font-size: 25px;
    margin-top: 10%;
    margin-bottom: 20px;
    border: 4px solid #5A5A5A;
    border-radius: 15px;
}

.bordas{
    border-radius: 15px;
}
